<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript"
  src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js"></script>
  <script src="main.js"></script>
  <link rel="looks" href="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.css" />
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>What it Do</title>
</head>
<body
<div data-role="page" id="page1">
    <div data-role="header">
      <h1>Page 1</h1>
    </div>
    <div role="main" class="ui-content">
      <a href="#page2" data-transition="slide" class="ui-btn ui-corner-all ui-btn-inline">Go To Page 2</a>
    </div>
  </div>
  <div data-role="page" id="page2">
    <div data-role="header">
      <h1>Page 2</h1>
    </div>
    <div role="main" class="ui-content">
      <div role="textbox" id="receiverNumber" class="ui-btn ui-corner-all ui-btn-inline">
        <label ="clear-demo">To:</label>
        <input type="text" name="clear" id="receiverNumber1" value="" placeholder="Number of reveiver" data-clear-btn="true">
      </div>
      <label for="textarea-a">Message to Send:</label>
<textarea name="textarea" id="textarea-a" placeholder="Send your message here..."></textarea>
      <a href="#page1" data-rel="back" data-transition="slide" class="ui-btn ui-corner-all ui-btn-inline">Go Back To Page 1</a>
    </div>
  </div>
<!-- my node serer is at localhost:30303 -->
<form action="localhost:3000/postMessages" method="POST" id="usrForm">
  To:
  <br>
  <input type="text" name="receiverNumber">
  <input type="submit" name="Submit">
  <br>
  Number of messages:
  <br>
  <input type="text" name="repeatTime">
  <br>
</form>
<br>
<textarea rows="4" cols="50" name="messageSend" form="usrForm" placeholder="Enter your message here">
</textarea>
</body>
</html>
